<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
</head>
<body>
    <nav>
        <ul class="navbar">
            <li class='menu'><a href="/">Home</a></li>
            <li class='menu'><a href="/blog">All Blogs</a></li>
            <li class='menu'><a href="/newpost">Add a Blog Entry</a></li>
        <ul class="navbar-right">
            <li class="menu"><a href="/login">Login</a></li>
            <li class="menu"><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <main>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class='flashes'>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>